body{
    font-family: 'PT Sans Caption', sans-serif;
    background-color: rgb(236, 208, 208) !important;
}

section .container h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 350ms;
    z-index: -1;
}
section .container h1:hover::before{
    height: 45%;
}
section .container h1{
    font-family: Pacifico,cursive;
    font-size: 50px;
}
 h2 {
    background-image: linear-gradient(to right, rgb(60, 165, 92), rgb(181, 172, 73));
    background-clip: text;
    color: transparent;
    font-size: 25px;
    font-family: 'Righteous', sans-serif;

}
#submitBtn{
    margin-left: 40%;
}
.bookmark-body h2 i{
    font-weight: 900;
}

.fa-bookmark::before {
    content: "";
}
.bookmark-body {
    border-width:0px 0px 2px 0px;
    border-style: dotted;
    border-color: rgb(53, 46, 40);
    margin-bottom: 12px;
}
.bookmark-body {
    border-width: 2px 0px;
    border-style: dotted;
    border-color: rgb(53, 46, 40);
}
.box-conent {
    width: 500px;
    z-index: 10;
}
.box-conent p {
    font-family: "Bree Serif", serif;
    font-size: 21px;
    line-height: 1.3;
    color: rgb(53, 46, 40);
}

.snap {
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 10px;
}
.balls > div {
    width: 30px;
    height: 30px;
}


#box{
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#box .span{
    width: 500px;
    height: 250px;
}